<div [formGroup]="layoutForm">

  <table class="table table-bordered table-gray">
    <tbody>
      <tr *ngFor="let rowEl of airport.airportLayout; let i = index">
        <td *ngFor="let colEl of rowEl; let j = index" scope="col" >
          <div class="grid" (click)="onClick(i, j)">
            <i class="{{getSvgSrc(colEl)}}" ></i>
          </div>
        </td>
        <td>

          <div formArrayName="rowCountEls" class="form-outline" style="width: 5em;">
            <div [formGroupName]="i">
              <input
               type="number"
                formControlName="rowEl"
                class="form-control"
                />
            </div>
          </div>

      </td>
      </tr>
    </tbody>
    <tfoot >
      <tr formArrayName="colCountEls" class="form-outline">
        <th *ngFor="let colCountEl of colCountEls.controls; let i=index" scope="col">
          <div [formGroupName]="i">
            <div class="form-outline" style="width: 5em;">
              <input type="number"
                formControlName="colEl"
                class="form-control"
                />
            </div>
          </div>
        </th>
        <th>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onClear()">Clear</button>
            <button type="submit"
              class="btn btn-primary"
              (click)="onSubmit()">Submit</button>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
