<div>
  <table class="table table-bordered table-gray">

    <tbody>
      <tr *ngFor="let rowEl of layout; let i = index">
        <td *ngFor="let colEl of rowEl; let j = index" scope="col" >
          <div class="grid" (click)="onClick(i, j)">
            <i class="{{getSvgSrc(colEl)}}" ></i>

          </div>
        </td>
        <td>
          <div class="form-outline" style="width: 5em;">
            <input type="number" id="colCount{{i}}" class="form-control" [value]="colCounters[i]"/>
          </div>
      </td>
      </tr>
    </tbody>
    <tfoot >
      <tr>
        <th *ngFor="let count of colCounters; let i = index" scope="col">
          <div class="form-outline" style="width: 5em;">
            <input type="number" id="rowCount{{i}}" class="form-control" [value]="rowCounters[i]"/>
          </div>
        </th>
        <th>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onClear()">Clear</button>
            <button type="submit"
              class="btn btn-primary"
              (click)="onSubmit()">Submit</button>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
